.bg-theme {
  background-color: #00cccd;
}

.cartIcon {
  color: azure;
}
.hero-bcg {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.btn-warning {
  padding: 8px 35px;
}
